@model MvcEmployeeDetails.Models.Employee

@{
ViewData["Title"] = "Submission Summary";
}

<div class="container submission-wrapper" id="printJS-form">
    <div class="header">
        <div class="left">
           <a asp-action="Create"> 
          <img src="@Url.Content("~/img/SecuredSigningLogo.PNG")" alt="Secured Signing Logo" />
          </a>
        </div>
        <div class="right">
          <p>
            Commercial in Confidence. <br />
            Unauthorised Reproduction Prohibited
          </p>
        </div>
      </div>
    <h1>Summary</h1>
    <hr />
    <dl class="summary">
        <dt class="database-column">
           Unique Form ID:
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.FullAddress)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.FullAddress)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.MailingAddressSameAsFullAddress)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.MailingAddressSameAsFullAddress)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.MailingAddress)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.MailingAddress)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.CitizenshipStatus)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.CitizenshipStatus)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.EmploymentStartDate)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.EmploymentStartDate)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.EmploymentType)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.EmploymentType)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.PositionTitle)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.PositionTitle)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.EmergencyContactRelationship)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.EmergencyContactRelationship)
        </dd>
        <dt class="database-column">
            @Html.DisplayNameFor(model => model.EmergencyContactPhoneNumber)
        </dt>
        <dd class="submission-value">
            @Html.DisplayFor(model => model.EmergencyContactPhoneNumber)
        </dd>
        <dt class="database-column print-hidden" id="signatureLabel" style="margin-top: 2rem;" >
            @Html.DisplayNameFor(model => model.EmployeeSignature)
        </dt>
        <dd class="submission-value print-hidden" id="signature" style="margin-top: 2rem; display:flex; align-items: center; justify-content: center; font-family: 'Leckerli One'; font-size: 2.0rem; height: 100%; width: 100%;" >
           @Html.DisplayFor(model => model.EmployeeSignature)
        </dd>

        <br/>
        <hr/>
        <h3>Digital Signature</h3>
        <div id="signatureImage" style="width: 100%;"></div>
    </dl>
</div>

<div class="container">
 <button type="button" style="" id="save-pdf" class="button" onclick="
    printJS({
        printable: 'body',
        type:'html',
        targetStyles: ['*'],
        style: '@@page { size: Letter landscape; }',
        ignoreElements: ['save-pdf']
        });
">
    Download PDF
 </button>
</div>

<style>
    .submission-wrapper .summary {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .database-column {
        font-weight: bold;
    }

    .summary:nth-child(2) {
        background-color: green;
    }

    .submission-value {}
</style>


<br />

 <link rel="stylesheet" href="~/styles/pico.min.css" />


<script>
    window.addEventListener('load', (event) => {
      html2canvas(document.querySelector("#signature")).then(canvas => {
        //document.querySelector("#signature").appendChild(canvas)
        //document.body.appendChild(canvas)
        //document.body.appendChild(canvas)
        //document.getElementById("signature").innerHTML = "";
        document.querySelector("#signature").style="";
        document.querySelector("#signatureLabel").style="";
        document.querySelector("#signatureImage").appendChild(canvas);
      });
    });
</script>