@model IEnumerable<MvcEmployeeDetails.Models.Employee>

@{
    ViewData["Title"] = "All Registered Employees";
}


<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <h1>All Records</h1>
    <a asp-action="Create" role="button" class="secondary">New Employee Registration</a>
</div>
<br/>
<hr/>

<div class="container" style="">
    <table class="table">
    <thead>
        <tr>
            <th>
                Employee ID:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
     
            <td>
                <a role="button" class="outline" asp-action="Edit" asp-route-id="@item.Id">Edit</a> <br/>  <br/>
                <a role="button" asp-action="Details" asp-route-id="@item.Id">View All Details</a> <br/>  <br/>
                <a role="button" class="secondary" asp-action="Delete" asp-route-id="@item.Id">Delete Employee</a>  <br/>
            </td>
        </tr>
}
    </tbody>
</table>

</div>

<br/>
<br/>
<br/>



 <link rel="stylesheet" href="~/styles/pico.min.css" />