@model MvcEmployeeDetails.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingAddressSameAsFullAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingAddressSameAsFullAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MailingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MailingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenshipStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitizenshipStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmploymentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositionTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositionTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactRelationship)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactRelationship)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyContactPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergencyContactPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeSignature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
